body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e67d3+7,0a4d99+100 */
    background: rgb(14,103,211); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(14,103,211,1) 7%, rgba(10,77,153,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(14,103,211,1) 7%,rgba(10,77,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(14,103,211,1) 7%,rgba(10,77,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e67d3', endColorstr='#0a4d99',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.page-title, .logo-title{
    text-align:center;
    width:100%;
    color: #FFF;
}

#login-form {
    width: 75%;
    margin: 5% 12.5%;
}

#login-form .link-container  {
    color:white;

}

#login-form input[type=text] {
    text-align:center !important;
    font-style: italic;
}

#login-form input[type=text]:focus {
    font-style: normal;
}
